<div class="featured-blog-home">
  <div class="container">
    <div class="row">
      <div class="featured-products-home__header block_title">
        <h2 class="title">NUESTROS BLOG <!--{{ settings.featured_blog_title }}--></h2>
      </div>
    </div>
    <div class="row">

      <div class="co-xs-12 col-sm-6">
        <div class="featured-blog-home__content">
          <p class="featured-blog-home__blog-name">Noticias</p>
          <h3 class="featured-blog-home__title">Salud en la cocina japonesa</h3>
          <div class="featured-blog-home__thumbnail"><img class="img-responsive featured-blog-home__img" src="images/blog1.jpg"></div>
          <div class="featured-blog-home__desc">
            <p class="featured-blog-home__excerpt">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <p class="featured-blog-home__link"><a class="featured-blog-home--link" href="#">Ver m치s</a></p>
          </div>
        </div>
      </div>

      <div class="co-xs-12 col-sm-6">
        <div class="featured-blog-home__content">
          <p class="featured-blog-home__blog-name">Noticias</p>
          <h3 class="featured-blog-home__title">El arte del teppanyaki</h3>
          <div class="featured-blog-home__thumbnail"><img class="img-responsive featured-blog-home__img" src="images/blog2.jpg"></div>
          <div class="featured-blog-home__desc">
            <p class="featured-blog-home__excerpt">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <p class="featured-blog-home__link"><a class="featured-blog-home--link" href="#">Ver m치s</a></p>
          </div>
        </div>
      </div>

      <div class="co-xs-12 col-sm-6">
        <div class="featured-blog-home__content">
          <p class="featured-blog-home__blog-name">Noticias</p>
          <h3 class="featured-blog-home__title">Calidad vs Costo</h3>
          <div class="featured-blog-home__thumbnail"><img class="img-responsive featured-blog-home__img" src="images/blog3.jpg"></div>
          <div class="featured-blog-home__desc">
            <p class="featured-blog-home__excerpt">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <p class="featured-blog-home__link"><a class="featured-blog-home--link" href="#">Ver m치s</a></p>
          </div>
        </div>
      </div>

      <div class="co-xs-12 col-sm-6">
        <div class="featured-blog-home__content">
          <p class="featured-blog-home__blog-name">Noticias</p>
          <h3 class="featured-blog-home__title">Experiencia inolvidable</h3>
          <div class="featured-blog-home__thumbnail"><img class="img-responsive featured-blog-home__img" src="images/blog4.jpg"></div>
          <div class="featured-blog-home__desc">
            <p class="featured-blog-home__excerpt">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <p class="featured-blog-home__link"><a class="featured-blog-home--link" href="#">Ver m치s</a></p>
          </div>
        </div>
      </div>


    </div> <!-- .row -->
  </div>
</div>