  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="footer__menu footer__menu--close">
          <h4 class="footer__section-title">NAVEGACIÓN <span class="footer__section-icon footer__section--close"><i class="mdi mdi-chevron-down"></i></span></h4>
          <ul class="footer__list-1 footer--list">
            <li class="footer__link"><a href="#" target="_blank">Inicio</a></li>
            <li class="footer__link"><a href="#" target="_blank">Buscar</a></li>
            <li class="footer__link"><a href="#" target="_blank">Blog</a></li>
            <li class="footer__link"><a href="#" target="_blank">Nosotros</a></li>
            <li class="footer__link"><a href="#" target="_blank">Contáctanos</a></li>
          </ul>
        </div>
        <div class="footer__menu footer__menu--close">
          <h4 class="footer__section-title">REDES SOCIALES <span class="footer__section-icon footer__section--close"><i class="mdi mdi-chevron-down"></i></span></h4>
          <ul class="footer__list-3 footer--list">
            <li class="footer__link"><a href="#" target="_blank">Fecebook Icon</a></li>
            <li class="footer__link"><a href="#" target="_blank">Twitter Icon</a></li>
            <li class="footer__link"><a href="#" target="_blank">Instragram Icon</a></li>
            <li class="footer__link"><a href="#" target="_blank">Postres</a></li>
            <li class="footer__link"><a href="#" target="_blank">Carnes</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="footer__menu footer__menu--close">
          <h4 class="footer__section-title">MENÚ <span class="footer__section-icon footer__section--close"><i class="mdi mdi-chevron-down"></i></span></h4>
          <ul class="footer__list-2 footer--list footer--list">
            <li class="footer__link"><a href="#" target="_blank">Entradas</a></li>
            <li class="footer__link"><a href="#" target="_blank">Sushi</a></li>
            <li class="footer__link"><a href="#" target="_blank">Ensaladas</a></li>
            <li class="footer__link"><a href="#" target="_blank">Postres</a></li>
            <li class="footer__link"><a href="#" target="_blank">Carnes</a></li>
          </ul>
        </div>
        <div class="footer__menu footer__menu--close">
          <h4 class="footer__section-title">MÉTODOS DE PAGO <span class="footer__section-icon footer__section--close"><i class="mdi mdi-chevron-down"></i></span></h4>
          <ul class="footer__list-4 footer--list">
            <li class="footer__link"><a href="#" target="_blank">Master Card</a></li>
            <li class="footer__link"><a href="#" target="_blank">Visa</a></li>
            <li class="footer__link"><a href="#" target="_blank">Paypal</a></li>
            <li class="footer__link"><a href="#" target="_blank">Oxxo</a></li>
            <li class="footer__link"><a href="#" target="_blank">Efectivo</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
        <div class="footer__menu footer__menu--close">
          <h4 class="footer__section-title">SUBARASHII <span class="footer__section-icon footer__section--close"><i class="mdi mdi-chevron-down"></i></span></h4>
          <div class="footer--list">
            <div>Av. Nuevo León 108 PB Hipodromo Condesa Cuauhtémoc
               Teléfonos: 5211 1240</div>
            <h5 class="footer__section-subtitle">Horario</h5>
            <ul class="footer__list-5">
              <li>L-J 13:00 a 23:00</li>
              <li>V y S 13:00 a 24:00</li>
              <li>D 13:00 a 23:00</li>
            </ul>
            <h5 class="footer__section-subtitle">Servicios</h5>
            <ul class="footer__list-5">
              <li>Restaurante</li>
              <li>Plancha de Teppanyaki</li>
              <li>Servicio a Domicilio</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-legal">
    <p class="footer-legal__description">© 2017 Subarashii Theme - Derechos reservados <br class="visible-xs"/><span class="hidden-xs"> &nbsp;&nbsp;|&nbsp;&nbsp; </span> Tienda generada con <span class="footer-legal--bold">Shoperti</span></p>
  </div>